.modalOverlay {
   position: fixed;
   inset: 0;
   background: rgba(0, 0, 0, 0.5);
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 999;
   color: #000;

   .modalContent {
      background: #fff;
      padding: 2rem;
      border-radius: 12px;
      min-width: 320px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
      position: relative;

      .modalClose {
         position: absolute;
         top: 2.5px;
         right: 2.5px;
         background: none;
         border: none;
         box-shadow: none;
         font-size: 20px;
         cursor: pointer;
      }
   }
}